<div id="ma-landing-page-container" class="animated fadeIn" ng-controller="homeCtrl as maLandingScope">
    <div class="main-header header-1">Welcome to Medicare Advantage</div>
    <div class="main-header header-2 margin-top-40">
        <img src="/assets/members/secure/apps/malanding/images/Blue-Medicare-HMO.png" alt="Blue Medicare HMO Icon">
    </div>
    <div class="main-header header-3">
        <img src="/assets/members/secure/apps/malanding/images/Blue-Medicare-PPO.png" alt="Blue Medicare PPO Icon">
    </div>

    <div class="sub-header-1 margin-top-60">Blue connect, your personalized member website</div>
    <div class="sub-header-2">
        Blue Connect offers you information on claims and benefits, the Find a Doctor/
        Drug/Facility tool, and much more. So, you’ll have all the details on your health
        coverage at your fingertips, 24 hours a day, 7 days a week.
    </div>

    <div class="video-container margin-top-50">
        <div class="sub-header-1">Watch your introductory video</div>
        <div class="sub-header-2">
            Now that you’re logged in to Blue Connect, you can watch
            the Blue Medicare video. It’s a brief, informative introduction
            to your Medicare Advantage plan.
        </div>
        <div class="video-main-container">
          <iframe width="100%"
                  height="400"
                  src="https://www.youtube.com/embed/40Zcz5dCG1I"
                  frameborder="0"
                  class="video-embed"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
        </div>
    </div>

    <div class="margin-top-50">
        <div class="sub-header-1">Download your start-up guide</div>
        <div class="sub-header-2">
            If you haven’t already received it in your mail, you can download your start-up guide
            by clicking the button below. The guide provides key information on how to make
            sure you get the most out of your Medicare Advantage plan from Blue Cross NC.
        </div>

        <button type="button" class="btn-blue" ng-click="maLandingScope.downloadStartUpGuide($event)">Start-up Guide</button>
    </div>
    <hr>

    <div class="">
        <div class="sub-header-1">Get the app and connect on the go</div>
        <div class="sub-header-2">
            Download the Blue Connect MobileSM app. It's free through the iTunes App Store
            and Google Play. With the Blue Connect mobile app, you can manage your health
            plan whenever and wherever it’s convenient for you.
        </div>

        <div class="app-store-img">
            <a href="https://play.google.com/store/apps/details?id=com.bcbsnc.healthnav" target="_blank">
                <img class="g-play-img" src="/assets/members/secure/apps/malanding/images/Google-Play-button.png" alt="Google Play Store Icon">
            </a>
            <a href="https://itunes.apple.com/us/app/blue-connect-mobile-nc/id392607223?mt=8" target="_blank">
                <img class="apple-play-img" src="/assets/members/secure/apps/malanding/images/App-Store-button.png" alt="Apply Play Store Icon">
            </a>
        </div>
    </div>
    <hr>

    <div class="main-footer">
        <div>
            Blue Cross and Blue Shield of North Carolina is an HMO, PDP and PPO plan with a Medicare contract.
            Enrollment in Blue Cross and Blue Shield of North Carolina depends on contract renewal.
        </div><br>
        <div>
            © 2018 Blue Cross and Blue Shield of North Carolina. ®, SM Marks of the Blue Cross and Blue Shield
            Association, an association of independent Blue Cross and Blue Shield Plans. All other marks and
            trade names are the property of their respective owners. Blue Cross NC is an abbreviation for Blue
            Cross and Blue Shield of North Carolina. Blue Cross and Blue Shield of North Carolina is an
            independent licensee of the Blue Cross and Blue Shield Association. U14319, 10/18
        </div>
    </div>
</div>
